<p class="content-text" style="color: black;font-family: Muli,sans-serif,Arial;margin: 0;font-size: 16px;line-height: 30px;">
    Dear <b>{{firstName}}</b>,
    <br><br>
    We have received your request to reset password at {{appName}}.
    <br><br>
    Your verification code is <b>{{OTP}}</b>
    <br><br>
    If you did not request this code, it is possible that someone else is trying to access the your account.
    <br>
    Do not forward or give this code to anyone.
    <br>
    <br>
    Cheers,
    <br>
    <b>Team</b>
</p>
