<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Mail resend verify code</title>
    <style>
        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12pt;
        }

        header {
            background-color: #FFBF0E;
        }

        article {
            margin-left: 5%;
            margin-right: 5%;
            color: gray;
        }

        footer {
            background-color: #FFBF0E;
            padding: 10px;
            text-align: center;
            color: gray;
        }

        /* -------------------------------------
          BUTTONS
        ------------------------------------- */
        .btn {
            box-sizing: border-box;
            width: 100%;
        }

        .btn>tbody>tr>td {
            padding-bottom: 15px;
        }

        .btn table {
            width: auto;
        }

        .btn table td {
            background-color: #ffffff;
            border-radius: 5px;
            text-align: center;
        }

        .btn a {
            font-family: sans-serif;
            background-color: #ffffff;
            border: solid 1px #FFBF0E;
            border-radius: 5px;
            box-sizing: border-box;
            color: #FFBF0E;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            margin: 0;
            padding: 12px 25px;
            text-decoration: none;
            text-transform: capitalize;
        }

        .btn-primary table td {
            background-color: #FFBF0E;
        }

        .btn-primary a {
            background-color: #FFBF0E;
            border-color: #FFBF0E;
            color: #ffffff;
        }

        /* -------------------------------------
          PRESERVE THESE STYLES IN THE HEAD
        ------------------------------------- */
        @media all {
            .ExternalClass {
                width: 100%;
            }

            .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
                line-height: 100%;
            }

            .apple-link a {
                color: inherit !important;
                font-family: inherit !important;
                font-size: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
                text-decoration: none !important;
            }

            .btn-primary table td:hover {
                background-color: #3498db !important;
            }

            .btn-primary a:hover {
                background-color: #3498db !important;
                border-color: #3498db !important;
            }
        }
    </style>
</head>

<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width=700px>
        <tr>
            <td align="center">
                <header>
                    <img src="https://sbs-prod-media-file.s3.eu-west-3.amazonaws.com/5d415840358f610012e8528b/uploads/f6e4b876-b29c-48c0-8ac3-211577298c7b.png"
                        width="150" height="150" style="display:block">
                </header>
            </td>
        </tr>
        <tr>
            <td bgcolor=#FAFAFA>
                <article>
                    <p><i>Dear <b>{{firstName}}</i></b>,</p>
                    <p>Let’s reset your password so you can get back to login.</p>
                    <p>Access to the follow button to reset your password. </p>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td> <a href={{resetPasswordLink}} target="_blank">Reset Password</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>If you did not ask to reset your password you may want to review your recent account access for
                        any unusual activity.</p>
                    <p>We’re here to help if you need it. Visit the Help Center for more infomation.</p>
                    <p><i><br>Best Regards,</p>
                    <p>SendByShare Team</i></p>
                    <p><img src="https://sbs-prod-media-file.s3.eu-west-3.amazonaws.com/5d415840358f610012e8528b/uploads/f8f38a15-88c1-42df-9af4-e4df91407947.png"
                            width="174" height="158" style="display:block"></p>
                </article>
            </td>
        </tr>
        <tr>
            <td>
                <footer>
                    <a href="https://sendbyshare.com/"><img
                            src="https://sbs-prod-media-file.s3.eu-west-3.amazonaws.com/5d415840358f610012e8528b/uploads/94ad82d6-9b5d-410d-a6ca-896ee1aba114.png" width="72"></a>
                    &emsp; &emsp; &emsp; &emsp;
                    <a href="mailto:info@sendbyshare.com"><img
                            src="https://sbs-prod-media-file.s3.eu-west-3.amazonaws.com/5d415840358f610012e8528b/uploads/e7407231-9c3d-4779-b28a-79ba27230a92.png" width="72"></a>
                    &emsp; &emsp; &emsp; &emsp;
                    <a href="https://www.facebook.com/SendByShare/"><img
                            src="https://sbs-prod-media-file.s3.eu-west-3.amazonaws.com/5d415840358f610012e8528b/uploads/17928bef-0f05-4a9f-86f9-933d2e4b1436.png" width="72"></a>
                </footer>
            </td>
        </tr>
        <tr>
            <td align="center">
                <div
                    style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);font-size:12px;line-height:20px;padding-top:10px">
                    © 2019 SendbyShare Solution Company BV | 14 Baander, 7811 HH Emmen, The Netherlands
                </div>
            </td>
        </tr>
    </table>
</body>

</html>