<p class="content-text" style="color: black;font-family: Muli,sans-serif,Arial;margin: 0;font-size: 16px;line-height: 30px;">
    Hello,
    <br><br>
    You've invited to join project {{projectName}} as a new member by {{projectInviter}}.
    <br><br>
    Please click this link to register an account and join in project: <b><a href="{{invitationLink}}">Join now</a></b>
    Note that the invitation is just valid within 24 hours.
    <br><br>
    If you get something wrong here, just skip this email.
    <br>
    <br>
    Thanks,
    <br>
    <b>Team</b>
</p>
