<p class="content-text" style="color: black;font-family: Muli,sans-serif,Arial;margin: 0;font-size: 16px;line-height: 30px;">
    Dear <b>{{firstName}}</b>,
    <br><br>
    Let’s reset your password so you can get back to login.
    <br>
    Access to the follow button to reset your password.
</p>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
        <td align="center">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td> <a href={{resetPasswordLink}} target="_blank">Reset Password</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<p class="content-text" style="color: black;font-family: Muli,sans-serif,Arial;margin: 0;font-size: 16px;line-height: 30px;">
    If you are having any issues with your account, please do not hesitate to contact us by replying to this email.
    <br>
    We’re here to help if you need it. Visit the Help Center for more information.
    <br><br>
    Cheers,
    <br>
    <b>{{appName}}</b>
</p>


<style>
    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12pt;
    }

    header {
        background-color: #FFBF0E;
    }

    article {
        margin-left: 5%;
        margin-right: 5%;
        color: gray;
    }

    footer {
        background-color: #FFBF0E;
        padding: 10px;
        text-align: center;
        color: gray;
    }

    /* -------------------------------------
      BUTTONS
    ------------------------------------- */
    .btn {
        box-sizing: border-box;
        width: 100%;
    }

    .btn>tbody>tr>td {
        padding-bottom: 15px;
    }

    .btn table {
        width: auto;
    }

    .btn table td {
        background-color: #ffffff;
        border-radius: 5px;
        text-align: center;
    }

    .btn a {
        font-family: sans-serif;
        background-color: #ffffff;
        border: solid 1px #FFBF0E;
        border-radius: 5px;
        box-sizing: border-box;
        color: #FFBF0E;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        padding: 12px 25px;
        text-decoration: none;
        text-transform: capitalize;
    }

    .btn-primary table td {
        background-color: #FFBF0E;
    }

    .btn-primary a {
        background-color: #FFBF0E;
        border-color: #FFBF0E;
        color: #ffffff;
    }

    /* -------------------------------------
      PRESERVE THESE STYLES IN THE HEAD
    ------------------------------------- */
    @media all {
        .ExternalClass {
            width: 100%;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        .apple-link a {
            color: inherit !important;
            font-family: inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            text-decoration: none !important;
        }

        .btn-primary table td:hover {
            background-color: #3498db !important;
        }

        .btn-primary a:hover {
            background-color: #3498db !important;
            border-color: #3498db !important;
        }
    }
</style>
