<p class="content-text" style="color: black;font-family: Muli,sans-serif,Arial;margin: 0;font-size: 16px;line-height: 30px;">
    Hello {{userName}},
    <br><br>
    You've invited to join project {{projectName}} by {{projectInviter}}.
    <br><br>
    Please click <b><a href="{{invitationLink}}">here</a></b> to join in project now and use previous account to login. <br> 
    Note that this link is valid for 24 hours.
    <br><br>
    If you get something wrong here, just skip this email.
    <br>
    <br>
    Thanks,
    <br>
    <b>Team</b>
</p>
